apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus
  namespace: monitoring
spec:
  interval: 1m
  url: https://prometheus-community.github.io/helm-charts


---

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  chart:
    spec:
      chart: prometheus
      version: '27.50.x'
      sourceRef:
        kind: HelmRepository
        name: prometheus
      interval: 10m
  releaseName: prometheus
  interval: 1h
