apiVersion: v1
kind: Service
metadata:
  name: n8n
  namespace: n8n
spec:
  type: ClusterIP
  selector:
    app: n8n
  ports:
    - protocol: TCP
      port: 5678
      targetPort: 5678

---

apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: n8n
  namespace: n8n
spec:
  entryPoints:
  - web
  routes:
  - kind: Rule
    match: Host(`n8n.swell.homelab`) || Host(`n8n.tail4285b9.ts.net`)
    services:
    - kind: Service
      name: n8n
      namespace: n8n
      port: 5678
